.login-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.form-container{
    min-width: 25%;
    padding: 2% 5%;
    box-shadow: 0 0 4px 3px #00000035;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    & h1{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 25px;
    }
    & form{
        display: flex;
        flex-direction: column;
        align-items: center;
        & input{
            border: none;
            width: 100%;
            padding: 0 10px;
            font-size: 17.5px;
            box-shadow: 0 0 4px 3px #00000035;
            background: #EFEFEF;
            height: 50px;
            margin: 20px 0;
            &:focus{
                outline: none;
                box-shadow: 0 0 4px 4px #1c7ecf35;    
            }
        }
        & input[type="submit"]{
            height: 60px;
            width: 200px;
            border-radius: 20px;
            background-color: #1c7ecf;
            color: #fff;
            font-size: 2rem;
            transition: all .25s;
            &:hover{
                cursor: pointer;
                box-shadow: 0 0 10px 4px #1c7ecf80;    
            }
        }
    }
    & a{
        margin: auto;
        text-decoration: none;
        color: #000;
        transition: all .5s; 
        &:hover{
            transform: scale(1.1);
            text-decoration: underline;
            color: #1c7ecf;
        }
    }
}

.reroute-container{
    min-width: 25%;
    text-align: center;
    padding: 2% 5%;
    box-shadow: 0 0 4px 3px #00000035;
    & a{
        color: #1c7ecf;
        font-weight: bolder;
        text-decoration: none;
    }
}