.notificationPageMain {
    padding: 15px; 
    display: flex;
    justify-content: space-between;
    flex-direction: row;   
    overflow: hidden;  
} 
 
.leaderBoardContainer{
    display: none;
    width: 45%;
    flex-grow: 1; 
    border-right: 2.5px solid black;
    padding-right: 10px;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin; 
    flex-direction: column;
    scrollbar-color: var(--highlight) var(--main-color);
}


.followingContainer{
    display: none;
    width: 45%;
    flex-grow: 1; 
    border-left: 2.5px solid black;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin; 
    flex-direction: column;
    scrollbar-color: var(--highlight) var(--main-color);
}


.notificationsContainer{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .leaderBoardContainer{
        display: flex;
    }
    .notificationsContainer{
        padding: 0 15px;
        max-height: 80vh;
        width: 55%;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--highlight) var(--main-color); 
    }
    .notificationsContainer::-webkit-scrollbar {
        display: none; 
    }
    
    .notificationsContainer::-webkit-scrollbar {
        width: 8px;
    }
}

@media screen and (min-width:1150px) {
    .leaderBoardContainer{
        display: flex;
        width: 30%;
    }
    .notificationsContainer{
        padding: 5px 20px;
        width: 40%;
        max-height: 80vh;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--highlight) var(--main-color); 
    } 
    
    .notificationsContainer::-webkit-scrollbar {
        width: 8px;
    }

    .followingContainer{
        display: flex;
        width: 30%;
    }
}