.navbar {
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 3px 2px var(--highlight);
    justify-content: space-evenly;
    align-items: center;
    z-index: 38;
    color: var(--white);
    font-family: "Sigmar One", sans-serif;
}

.searchRow {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    border: 2px solid var(--white);
    border-radius: 10px;
    padding: 5px;
    background: var(--white);
}

.search input {
    height: 40px;
    border: none;
    background: transparent;
    font-size: 1rem;
    color: black;
    padding: 5px;
    outline: none;
    width: 200px;
}

.search button {
    height: 40px;
    width: 40px;
    background: url("../../images/search.png") no-repeat center;
    background-size: cover;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.search button:hover {
    transform: scale(1.1);
}

.profile {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--white);
    cursor: pointer;
    transition: all 0.3s;
}

.profile:hover {
    box-shadow: 0 0 10px var(--highlight);
    transform: scale(1.05);
}

.iconContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}

.icon {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.1);
}

.selected {
    position: absolute;
    bottom: -5px;
    width: 30px;
    border-bottom: 3px solid var(--white);
}

.notificationCount {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    font-size: 0.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications {
    background-image: url("../../images/bell.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.friends {
    background-image: url("../../images/following.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.home {
    background: url("../../images/home.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.addPhoto {
    background-image: url("../../images/camera.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.leaderboard {
    background-image: url("../../images/leaderboard.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

/* Tablet Breakpoint */
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 40px;
    }

    .searchRow {
        flex-direction: row-reverse;
        width: 85%;
        justify-content: space-between;
    }

    .iconContainer {
        width: 40%;
        gap: 10px;
    }

    .leaderboard{
        display: none;
    }
}
@media (min-width: 1024px) {
    .navbar {
        padding: 15px 80px;
    }

    .search input {
        width: 550px;
        font-size: 1.5rem;
    }

    .icon {
        height: 40px;
        width: 40px;
    }

    .selected {
        position: absolute;
        bottom: -5px;
        width: 40px;
        border-bottom: 3px solid var(--white);
    }
    .friends{
        display: none;
    }
}
