nav{
    position: sticky;
    top: 0;
    background-color: #FFF; 
    display: flex;
    flex-direction: column;
    padding: 20px 10px; 
    box-shadow: 0 0 3px 2px var(--main-color); 
    justify-content: space-evenly; 
    align-items: center;
 
    & .searchRow{
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        justify-content: space-evenly;
    }
    & .search{ 
        outline: 2px solid black;
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 5px;
        & button{
            height: 40px;
            width: 40px;
            background: url('../../images/search.png');
            border: none;
            background-size: cover;  
        }
        & input{ 
            height: 40px;
            border: none;
            background-color: #fff; 
            font-size: large; 
            &:focus{
                outline: none;
            }
        }
    }
    & .profile{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: #000;
    }
}

.iconContainer{
    display: flex;
    justify-content: space-evenly;
    width: 60%; 
    .icon {
        height: 36px;
        width: 36px; 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-sizing: border-box;
        padding-bottom: 4px;
        display: flex;
        align-items: flex-end; 
        cursor: pointer;
        position: relative;
        & .selected {
            position: relative;
            bottom: -10px;
            width: 35px;
            border-bottom: 2.5px solid black;
        }
        & .notificationCount{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: red;
            padding: 2px;
            color: #fff;
            font-size: .75rem;
            border-radius: 50%;
            top: 0;
            right: 0;
        }
    }
    
    & .notifications{
        background-image: url("../../images/notification.png");
    }
    
    & .friends{
        background-image: url("../../images/friends.png");
    } 
    & .home{
        background-image: url("../../images/home.png");
    }
    & .addPhoto{
        background-image: url("../../images/camera.png");
    }
    & .leaderboard{
        background-image: url("../../images/leaderboard.png");
    }  
} 

