.signupContainer {
    width: 100vw;  
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--main-color);
    color: var(--white);
    font-family: "Sigmar One", sans-serif;
}

.signupContainer > h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.formContainer {
    width: 325px;
    background: var(--white); 
    border-radius: 10px;
    box-shadow: 0 0 10px 2px var(--main-color);
}

.formContainer h1 {
    font-size: 2rem;
    background: var(--highlight);
    color: var(--white);
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form {
    padding: 15px;
    display: flex;
    flex-direction: column; 
}

form label {
    font-size: 1.1rem;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
}

form input {
    padding: 12px;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    background: #fff;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}

form input:focus {
    outline: none;
    border-color: var(--highlight);
    box-shadow: 0 0 5px var(--highlight);
}

.formContainer{
    p, label{ 
        color: #000;
    }
    
    p {
        margin-top: 15px;
        font-size: 1rem;
    }
    
    p a {
        color: var(--links);
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s;
    }
    
    p a:hover {
        text-decoration: underline;
        transform: scale(1.1);
        color: #67afeb;
    }
    button {
        padding: 12px;
        margin-top: 20px;
        border-radius: 5px;
        background-color: var(--highlight);
        font-size: 1.3rem;
        text-transform: uppercase;
        color: var(--white);
        border: none;
        cursor: pointer;
        transition: all 0.3s;
        outline: 2px solid var(--white);
    }
    
    button:hover {
        background: var(--contrast);
        transform: scale(1.05);
        outline: 2px solid var(--highlight);
        box-shadow: 0 0 10px 4px var(--highlight);
    }
}


.error{
    position: absolute;
    top: -100px;
    max-width: 80%;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.8);
    animation: show-error .5s forwards;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    outline: 2px solid white;
    color: var(--white);
    & button{
        height: 25px;
        width: 25px;
        border-radius: 5px;
        background-color: transparent;
        border: none;
        color: white;
        outline: 2px solid #fff;
        margin-left: 20px;
        transition: .25s all;
        &:hover{
            cursor: pointer;
            background: #ddd;
        }
    }
}

@keyframes show-error {
    0% {
        transform: translateX(0) rotate(2.5deg);
        top: -100px;
    }
    20% {
        top: 50px;
        transform: translateX(-10px) rotate(-2.5deg); 
    }
    40% {
        transform: translateX(10px) rotate(2.5deg);
    }
    60% {
        transform: translateX(-10px) rotate(-2.5deg);
    }
    80% {
        transform: translateX(10px) rotate(2.5deg);
    }
    100% {
        transform: translateX(0) rotate(0);
        top: 50px;
    }
}