.homePageMain {
    padding: 15px; 
    display: flex;
    justify-content: space-between;
    flex-direction: row;   
    overflow: hidden;  
}

.leaderBoardContainer {
    display: none;
    width: 45%;
    flex-grow: 1; 
    border-right: 2.5px solid black;
    padding-right: 10px;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin; 
    flex-direction: column;
    scrollbar-color: var(--highlight) var(--main-color);
}
.followingContainer{
    display: none;
    width: 45%;
    flex-grow: 1; 
    border-left: 2.5px solid black;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin; 
    flex-direction: column;
    scrollbar-color: var(--highlight) var(--main-color);
}

.feedContainer {
    width: 100%; 
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none; 
} 
.feedContainer::-webkit-scrollbar-thumb {
    background-color: var(--highlight);
    border-radius: 10px;
}

.feedContainer::-webkit-scrollbar-track {
    background: var(--main-color);
}

.endText {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--highlight);
    margin: 20px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--highlight);
    animation: fadeIn 0.5s ease-in-out;
}

@media screen and (min-width:768px) {
    .leaderBoardContainer{
        display: flex;
    }
    .feedContainer{
        padding: 5px 20px;
        width: 65%;
        max-height: 80vh;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--highlight) var(--main-color); 
    }
    .feedContainer::-webkit-scrollbar {
        display: none; 
    }
    
    .feedContainer::-webkit-scrollbar {
        width: 8px;
    }
}

@media screen and (min-width:1150px) {
    .leaderBoardContainer{
        display: flex;
        width: 30%;
    }
    .feedContainer{
        padding: 5px 20px;
        width: 60%;
        max-height: 80vh;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--highlight) var(--main-color); 
    }
    .feedContainer::-webkit-scrollbar {
        display: none; 
    }
    
    .feedContainer::-webkit-scrollbar {
        width: 8px;
    }

    .followingContainer{
        display: flex;
        width: 30%;
    }
}