.imageContainer{ 
    background-color: #ddd;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: .8;
}

.previewImage { 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; 
}

.uploadForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.uploadIcon{
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url("../../images/upload.png");
    margin-bottom: 20px;
}

.descriptionInput{
    margin: 10px 0;
    width: 100%;
    height: 125px;
    border: none;
    background: none;
    font-size: 1rem;
    color: var(--main-color);
}

.uploadButton{
    padding: 10px;
    font-size: 1.25rem;
    font-family: "Sigmar One";
    letter-spacing: 1.5px;
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
    border: none;
    transition: .5 all;
    &:hover{
        transform: scale(1.01);
        box-shadow: 0 0 3px 5px var(--contrast);
    }
}

.mediaPreviewContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.mediaPreview {
    position: relative;
    width: 75px;
    height: 75px;
}

.previewImage, .previewVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.removeUpload{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    background-color: var(--highlight);
    opacity: 0;
    transition: all .25s;
    cursor: pointer;
    & img{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50px;
    }
    &:hover{
        opacity: 1;
    }
}