.editContainer {
    width: 100vw;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;  
    text-align: center;
    background-color: var(--main-color);
    color: var(--white);
    font-family: "Sigmar One", sans-serif;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 1px var(--highlight);
    border-radius: 5px;
  }
  
  .icon {
    position: absolute;
    height: 37.5px;
    width: 37.5px;
    background-color: var(--main-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .home {
    top: 65px;
    left: 25px;
    background: url("../../images/home.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .logout {
    background-image: url("../../images/logout.svg");
    top: 65px;
    right: 25px;
  }
  
  .imageContainer {
    height: 225px;
    width: 225px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
  }
  
  .imageContainer img {
    height: 100%;
    width: 100%;
  }
  
  .editBtn {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-size: cover;
    padding: 7.5px;
    opacity: 0.4;
  }
  
  .nameChanger {
    color: var(--white);
    font-size: 1.25rem;
    background: none;
    border: none;
    text-align: center;
    width: 80%;
  }
  
  .aboutMeSection {
    color: var(--white);
    margin-top: 10px;
    width: 80%;
    height: 100px;
    border: none;
    background: none;
    font-size: 1rem;
  }
  
  .passwordChanger {
    display: flex;
    padding: 20px;
    flex-direction: column;
    & input{
        max-width: 75%;
        margin: auto;
    }
  }
  
  .passwordChanger label {
    margin: 7.5px 0;
  }
  
  .passwordChanger input {
    border: none;
    height: 40px;
    font-size: 30px;
  }
  
  .passwordActivationBtn,
  .confirmPasswordButton,
  .confirmButton {
    padding: 12px; 
    cursor: pointer;
    font-size: 1rem;
    font-family: "Sigmar One";
    letter-spacing: 1.1px;
    color: var(--black);
    background-color: var(--contrast);
    border: none;
    outline: 2px solid var(--white);
    border-radius: 5px;
    width: 80%;
    transition: all 0.3s ease-in-out;
  }
  .passwordActivationBtn{
    margin: 10px auto 0 auto;

  }
  .confirmPasswordButton{
    margin: 30px auto 0 auto;
  }
  .confirmButton{
    margin: 20px auto 10px auto;
  }
  
  .passwordActivationBtn:hover,
  .confirmButton:hover {
    background-color: var(--contrast);
    transform: scale(1.05);
    outline: 2px solid var(--contrast);
    box-shadow: 0 0 10px 4px var(--contrast);
  }
  
  input[type="file"] {
    display: none;
  }
  